.content h2 {
  width: 80%;
  text-align: left;
  margin-left: 10px;
  padding-left: 15px;
}
.list-flowers {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  padding: 10px;
}
.list-flowers li {
  background-color: rgb(244, 250, 250);
  padding: 10px;
  margin: 10px;
}
.list-flowers li a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
